
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
body {
  background-color: #FEF7EF;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding: 40px;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
  word-spacing: 200px;
}
.delete {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #FEF7EF;
  border-radius: 0px; 
}
p {
  text-align: center;
  word-spacing: 215px;
  font-size: smaller;
}
.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; 
  height: 100px;
  width: 1000px;
  max-width: 100%;
};
.color-card {
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 10%;
  height: 15%;
  display: inline-block;
  margin: 30px;
  border-radius:50px;
}
img:hover {
  box-shadow: 8px 11px 14px rgba(0,0,0,0.1);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
/* .navbar .links {
  margin-left: auto;
} */
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: hsl(310, 70%, 74%);
}
