
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
body {
  background-color: #FEF7EF;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding: 40px;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
  word-spacing: 200px;
}
p {
  text-align: center;
  word-spacing: 215px;
  font-size: smaller;
}
.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; 
  height: 100px;
  width: 1000px;
  max-width: 100%;
};

.color-card {
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 10%;
  height: 15%;
  display: inline-block;
  margin: 30px;
  border-radius:50px;
}

